In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train_triplets_sample.txt",delimiter='	')

In [3]:
df.head()

                                       User                Song  Play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [4]:
df.shape

(2000, 3)

In [5]:
df.isnull().sum()

User          0
Song          0
Play_count    0
dtype: int64

In [6]:
df.describe()

        Play_count
count  2000.000000
mean      2.535500
std       2.912728
min       1.000000
25%       1.000000
50%       1.000000
75%       3.000000
max      28.000000

In [21]:
a=df.groupby('User')['Play_count'].sum()
a=pd.DataFrame({'User':a.index,'Play_count':a.values})
print(f'unique user play_count : \n\n{a}')

unique user play_count :

                                        User  Play_count
0   0afaa5d9d04bf85af720fe8cc566a41ca3e41c97         107
1   12768858f6a825452e412deb1df36d2d1d9c6791          41
2   169f9f4c68b62d1887c7c0ac99d10a79cfca5daf          34
3   17aa9f6dbdf753831da8f38c71b66b64373de613         208
4   2c42e6551311710ca5a839d62058820a42ead493         135
5   403b3b867fc71dfdcc12652f30e88bdc7ccd9aa4          58
6   405d396ea64d75b5eaefaaf8ac836f45fa56af4d         134
7   45544491ccfcdc0b0803c34f201a6287ed4e30f8          39
8   4bd88bfb25263a75bbdd467e74018f4ae570e5df          95
9   5a905f000fc1ff3df7ca807d57edb608863db05d        1422
10  81bde1c3a845c64f1677bd9d28f2da85dfefcf30          28
11  85c1f87fea955d09b4bec2e36aee110927aedf9a          38
12  8937134734f869debcab8f23d77465b4caaa85df          78
13  8deca80c3da6024a1456e123308eb94fee1b439f          12
14  951945330eb5df161ac4f97729647514001cd102          80
15  969cc6fb74e076a68e36a04409cb9d3765757508          94
16  9bb911319fbc04f01755814cb5edb21df3d1a336          58
17  9d6f0ead607ac2a6c2460e4d14fb439a146b7dec          24
18  a1380d458c15706b9d5282304db81a5a78352e96         120
19  a58de017cbeda1763ea002fe027ed41b4ed53109         606
20  a820d2d4f16bbd53be9e41e0417dfb234bfdfba8         105
21  b64cdd1a0bd907e5e00b39e345194768e330d652         164
22  b80344d063b5ccb3212f76538f3d9e43d87dca9e         125
23  baf47ed8da24d607e50d8684cde78b923538640f         413
24  bd4c6e843f00bd476847fb75c47b4fb430a06856          14
25  bd8475385f0aa78830fa6dfce9e7242164b035c8         228
26  bf30441e24ef5326354295723d9fe1edf59b8554          18
27  c737ec8c1b16ce8e39115f4432c9a7fc21ec47a1          16
28  d6589314c0a9bcbca4fee0c93b14bc402363afea         354
29  e006b1a48f466bf59feefed32bec6494495a4436          73
30  ed7d4c476013b1c3dd91982b61494bf7436083ba          22
31  f84f5b5a5c5d1d9fb4866f6488e0d2661b54c192         128

In [43]:
b=df.groupby('Song')['Play_count'].sum()
b=pd.DataFrame({'Song':b.index , 'Play_count':b.values})
print(f'unique song play_count : \n\n{b.head()}')

unique song play_count :

                 Song  Play_count
0  SOAARXR12A8C133D15           1
1  SOABJBU12A8C13F63F           1
2  SOABRAB12A6D4F7AAF           2
3  SOABULH12A8C1331A4           1
4  SOACHXA12A58A7BE3E           1

In [40]:
TU=a.sort_values('Play_count',ascending=False)
TU.head()

                                        User  Play_count
9   5a905f000fc1ff3df7ca807d57edb608863db05d        1422
19  a58de017cbeda1763ea002fe027ed41b4ed53109         606
23  baf47ed8da24d607e50d8684cde78b923538640f         413
28  d6589314c0a9bcbca4fee0c93b14bc402363afea         354
25  bd8475385f0aa78830fa6dfce9e7242164b035c8         228

In [41]:
TS=b.sort_values('Play_count',ascending=False)
TS.head()

                   Song  Play_count
124  SOBONKR12A58A7A7E0          36
993  SONYKOW12AB01849C9          29
926  SOMVTRL12A67AE0921          28
464  SOGKEGN12AB0185355          26
65   SOAUWYT12A81C206F1          25

In [44]:
TU.to_csv("Top_Users")
TS.to_csv("Top_Songs")